css body{

    margin: 0; padding:0; 
}

.conatiner {
width: 1024;
margin: 0 auto;
}

#main-bio{
width: 70%;
float: left;

}

#contact-info {
width: 30%;
line-height: 1.5;
float: left;
}

#bio-image{
width: 200px;
float: left;
margin-bottom:20px;
}  

body{

    background-color: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    color: #333333;

}

header{

    background-color: #333333;
}

h1{

    color: #eee;
    font-size: 28px;
}

h2{
    font-size: 24px;
}

